# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2

defaults: 
  - &stage_defaults
    working_directory: ~/lib

  - &docker_defaults
    image: circleci/node

  
jobs:
  
  # run integration tests against ganache
  test:

    <<: *stage_defaults

    docker:
      <<: *docker_defaults

    steps:

      - checkout
      
      - run:
          name: npm secret
          command: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Install Ganache
          command:
            npm install ganache-cli@6.0.3

      - run:
          name: Install Node Modules
          command:
            npm ci

      # update cache if needed
      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - node_modules

      - persist_to_workspace:
          root: ~/lib
          paths: .

      # run rpc
      - run:
          name: Run ganache
          background: true
          command: |
            ./node_modules/.bin/ganache-cli

      # run tests
      - run:
          name: Run test
          command: npm test

  # run integration tests against geth dev
  staging:  

    <<: *stage_defaults

    docker:
      - <<: *docker_defaults
      - image: ethereum/client-go
        command: [--dev, --dev.period=1, --rpc, --rpcaddr=0.0.0.0, --rpcapi=eth,net]

    steps:

      - attach_workspace:
          at: ~/lib

      - run:
          name: Kill ganache
          command: pkill node

      - run:
          name: Run test
          command: npm test

  deploy:

    <<: *stage_defaults

    docker:
      - <<: *docker_defaults

    working_directory: ~/lib

    steps:
      - attach_workspace:
          at: ~/lib

      - run:
          name: npm publish
          command: npm publish

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - test
      - staging
      - deploy:
          requires:
            - test
            - staging
